body {
  font-family: 'Courier New', Courier, monospace;
}

footer {
  text-align: center;
}

hr {
  border-top: 2px solid white;
}

.card {
  background-color: lightcoral;
  color: white;
}

.jumbotron {
  background-color: lightcoral;
  color: white;
}

.menu-line {
  border-top: 1px solid white;
}

#home-button {
  background-color: lightcoral;
}

#jumbotron-logo {
  float: left;
  height: 70px;
  margin-right: 20px;
}

#nav-space {
  margin: 15px;
}

#price {
  background-color: white;
  color: black;
}

#price-quote {
  margin-bottom: 15px;
  margin-top: 15px;
}

#title {
  font-size: 80px;
}